header{

}
section{
  padding: 85px 0;
}
h2{
  text-align: center;
  font-size: 100px;
  word-spacing: 10px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
h2::after{
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e64e22,;
  margin-top:15px;
  margin: 0 auto;
  word-spacing: 10px;
}
body{
  font-family: fantasy;
  margin: 0px;
  padding: 0px;
}



/* <-- depart pour balise <ul></ul> --> */
nav>ul{
  margin: 0px;
  padding: 0px;
}

/* mise en disposition du menu déroulant*/
nav>ul>li{
  float: left;
}

nav li{
  list-style-type: none;
}

.submenu{
  display:  none;
}

nav{
  width: 100%;
  background-color: black;
}

nav>ul>li{
  float: left;
  position: relative;
}

nav>ul::after{
  content:"";
  display: block;
  clear: both;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav>ul>li>a{
  padding: 20px 30px;
  color: #FFF;
}

.submenu{
  display:  none;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}

.submenu li a{
  padding: 15px 30px;
  font-size: 13px
  color: blue;
  width: 270px;
}

.submenu li{
  border-bottom: 1px solid #CCC;
}

.submenu li a{
  padding: 15px;
  font-size: 13px;
  color: black;
  width: 270px;
}

.menu-acceuil:hover a{
  border-top: 5px solid #e44d26;
  background-color: RGBa(220, 220, 220, 0.15);
}

.menu-boutique:hover li{
  border-top: 5px solid #0070bb;
  background-color: RGBa(000, 112, 192, 0.15);
}

.menu-vente-flash:hover li{
  border-top: 5px solid #f1dc4f;
  background-color: RGBa(241, 211, 79, 0.15);
}

.menu-membres:hover li{
  border-top: 5px solid #BBB;
  background-color: RGBa(220, 220, 220, 0.15);
}

.menu-contact:hover li{
  border-top: 5px solid #CCC;
  background-color: RGBa(220, 220, 220, 0.15);
}
/* Fin du menu déroulant */

{
  background-image: url("fond.png");
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.range-photo{
  list-style: none;
  width: 100%
}
.range-photo li{
  display: block;
  float: left;
  margin: 25%;
}
.photo{
  width: auto;
  overflow: hidden;
  background-color: black;
}
.photo img{
  opacity: 0.4;
  width: 100%;
  height: auto;
  transform: scale(1.5);
  transition: transform 2s
}
.photo img:hover{
  opacity: 1;
  transform: scale(1);
}
