/*barre de menu déroulant*/
.menu, .menu ul{ /* début du menu avec les balise <ul> </ul>*/
  padding: 0; /* notre marge interieur*/
  margin:  0; /*notre marge extérieur*/
  list-style: none; /* supprime le style par default de la liste*/
  line-height: 21px /* definie la hauteur pour chaqu'un des elements*/
  text-align: center; /* on definie ou l'ont place notre texte*/
}

.menu{
  font-weight: bold; /* On mets le texte en gras */
  font-family: Arial; /* caractére de police Arial*/
  font-size: 21px; /* on choisie sa dimension du texte en pixel */
}

.menu{
  display:block; /* on change les balises pour en faire devenir des block */
  padding: 0; /* on choisie de combien on mets la marge interireur */
  background: blue; /* couleur de fond */
  text-decoration: none; /* on supprime le style par default de notre barre de menu*/
  color: black; /* couleur du texte */
  width: 144px /* largeur de la barre */
}
.menu li /* Éléments des listes */
{
        float : left;
        border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}
/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li
{
        border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */
}

.menu li ul /* Sous-listes */
{
        position: absolute; /* Position absolue */
        width: 144px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
}


.menu li ul li /* Eléments de sous-listes */
{
        /* pour ie qui ne reconnaît pas "transparent" (comme précédemment) */
        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous-liste */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body .menu li ul li
{
        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */
}

.menu li ul ul
{
        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */
}

/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body .menu li ul ul
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */
}
